DEBUG=True
SECRET_KEY=django-insecure-=*ry+4*ufq9s=a9$ie=cm$r+&t5apb0%ld!29@)quo+&o(cpuf
DATABASE_URL=postgres://postgres:postgres@postgres:5432/postgres
QDRANT_URL=http://qdrant:6333
QDRANT_SECRET=
TRANSFORMER_MODEL=distiluse-base-multilingual-cased-v1
CONTEXT_RANGE=3
MAX_SEARCH_RESULTS=3
OPEN_AI_KEY=